## Python package requirements ##

# Install requirements: pip install -r requirements.txt

streamlit
cron_descriptor
pandas
networkx

# As of this writing, snowpark requires python 3.8.*
snowflake-snowpark-python
